@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-height: 100vh;
}

@layer component {
  .Link {
    text-decoration: none;
  }
}

@layer utilities {
  @media (min-width: 1024px) {
    .bg-default {
      background-image: url("/backgroundDesc.png");
    }
  }
  @media (min-width: 768px ) and (max-width: 1023px) {
    .bg-default {
      background-image: url("/backgroundTablet.png");
    }
  }
  @media (max-width: 767px) {
    .bg-default {
      background-image: none;
    }
  }
}

a {
  font-weight: 500;
  text-decoration: none;
}

button {
  border-radius: 20px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
